BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

ColumnLimit: 100
DerivePointerAlignment: false
PointerAlignment: Left

SortIncludes: true
IncludeBlocks: Preserve

SpacesInParentheses: false
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
